VITE_GOOGLE_CLIENT_ID=190435189255-pv7jho1babto8gcd7i4ek8jqp3s76khm.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_SECRET=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
VITE_GOOGLE_SHEETS_ID=your-sheet-id-here
VITE_SHEET_NAME=planilha_user

# n8n Configuration
VITE_N8N_WEBHOOK_BASE_URL=https://evolution-n8n.o9g2gq.easypanel.host
