# Node modules
node_modules
*/node_modules
npm-debug.log
yarn-error.log

# Frontend
frontend/dist
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Backend
backend/.env.local

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Misc
*.log
.cache
