#root {
<<<<<<< HEAD
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
=======
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
>>>>>>> 2515de915935a0055c33748ef425b911b5c2085d
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
<<<<<<< HEAD

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

=======
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
>>>>>>> 2515de915935a0055c33748ef425b911b5c2085d
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
<<<<<<< HEAD

=======
>>>>>>> 2515de915935a0055c33748ef425b911b5c2085d
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
<<<<<<< HEAD
}
=======
}
>>>>>>> 2515de915935a0055c33748ef425b911b5c2085d
